# Description

Create the datasets for training, testing and validating the model

# Import libraries and define functions and paths

## libraries

In [1]:
import pandas as pd
import datetime
import os
import sqlalchemy as db

## functions

## Paths

# Connect SQL DB and Divide data

## Define connection parameters

In [2]:
try:
    os.environ["DB_HOST"]
except:
    os.environ["DB_HOST"] = "localhost"



# specify database configurations
config = {
    'host': os.environ['DB_HOST'],
    'port': 3306,
    'user': 'mendes',
    'password': 'test',
    'database': 'test_db'
}
db_user = config.get('user')
db_pwd = config.get('password')
db_host = config.get('host')
db_port = config.get('port')
db_name = config.get('database')
# specify connection string
connection_str = f'mysql+pymysql://{db_user}:{db_pwd}@{db_host}:{db_port}/{db_name}'
# connect to database
engine = db.create_engine(connection_str)

## Create or append to table

In [45]:
with engine.connect() as conn:
    sql = '''SELECT MIN(timestamp), MAX(timestamp) FROM iris;'''
    results = conn.execute(sql)
    results = results.fetchall()

    start_training = (results[0][0] + datetime.timedelta(minutes=60)) #.strftime("%Y-%m-%d %H:%M:%S.%f")
    end_training = start_training + datetime.timedelta(minutes=60)

    start_test = end_training
    end_test = start_test + datetime.timedelta(minutes=300)

    start_val = end_test
    end_val = start_val + datetime.timedelta(minutes=800)

    conn.execute('DROP TABLE IF EXISTS train;')
    sql = f'''
            CREATE TABLE IF NOT EXISTS train AS
            SELECT * 
            FROM iris
            WHERE timestamp > '{start_training.strftime("%Y-%m-%d %H:%M:%S")}'
                AND timestamp < '{end_training.strftime("%Y-%m-%d %H:%M:%S")}';
            '''
    results = conn.execute(sql)

    conn.execute('DROP TABLE IF EXISTS test;')
    sql = f'''
            CREATE TABLE IF NOT EXISTS test AS
            SELECT * 
            FROM iris
            WHERE timestamp > '{start_test.strftime("%Y-%m-%d %H:%M:%S")}'
                AND timestamp < '{end_test.strftime("%Y-%m-%d %H:%M:%S")}';
            '''
    results = conn.execute(sql)

    conn.execute('DROP TABLE IF EXISTS validation;')
    sql = f'''
            CREATE TABLE IF NOT EXISTS validation AS
            SELECT * 
            FROM iris
            WHERE timestamp > '{start_val.strftime("%Y-%m-%d %H:%M:%S")}'
                AND timestamp < '{end_val.strftime("%Y-%m-%d %H:%M:%S")}';
            '''
    results = conn.execute(sql)

In [46]:
start_test

datetime.datetime(2020, 7, 18, 12, 5, 52)

In [47]:
conn = engine.connect()
sql = f'''
        SELECT * 
        FROM iris
        WHERE timestamp > '{start_test.strftime("%Y-%m-%d %H:%M:%S")}'
            AND timestamp < '{end_test.strftime("%Y-%m-%d %H:%M:%S")}';
        '''
data = pd.read_sql(sql,conn)

In [48]:
conn = engine.connect()
sql = f'''
        SELECT * 
        FROM iris
        '''
data = pd.read_sql(sql,conn)

In [49]:
{start_test.strftime("%Y-%m-%d %H:%M:%S")}

{'2020-07-18 12:05:52'}

In [50]:
{end_test.strftime("%Y-%m-%d %H:%M:%S")}

{'2020-07-18 17:05:52'}

In [51]:
f=(data['timestamp']<end_test) & (data['timestamp']>start_test)
data[f]

,index,sepal_length,sepal_width,petal_length,petal_width,species,timestamp
600,0,5.1,3.5,1.4,0.2,setosa,2020-07-18 16:04:35
601,1,4.9,3.0,1.4,0.2,setosa,2020-07-18 16:04:35
602,2,4.7,3.2,1.3,0.2,setosa,2020-07-18 16:04:35
603,3,4.6,3.1,1.5,0.2,setosa,2020-07-18 16:04:35
604,4,5.0,3.6,1.4,0.2,setosa,2020-07-18 16:04:35
...,...,...,...,...,...,...,...
2845,145,6.7,3.0,5.2,2.3,virginica,2020-07-18 16:32:25
2846,146,6.3,2.5,5.0,1.9,virginica,2020-07-18 16:32:25
2847,147,6.5,3.0,5.2,2.0,virginica,2020-07-18 16:32:25
2848,148,6.2,3.4,5.4,2.3,virginica,2020-07-18 16:32:25
2849,149,5.9,3.0,5.1,1.8,virginica,2020-07-18 16:32:25

In [44]:
data['timestamp'].max().strftime("%Y-%m-%d %H:%M:%S")

'2020-07-18 21:25:06'